/*
  white: #FFFFFF
*/

:root {
  --color01: #400;
  --color02: #077;
}

body {
  padding: 64px;
  font-size: larger;
}

h1, h2, h3 {
  color: var(--color01);
}

h1 {
  text-align: center;
}

table {
  border-collapse: collapse;
}

td {
  border: var(--color02) solid 4px;
  padding: 6px;
}

a {
  color: var(--color01);
  font-weight: bolder;
  text-decoration: none;
}

a:hover {
  color:var(--color02)
}

.special-boy {
  color: white;
  background-color: var(--color01);
  width: 66dvw;
  padding: 24px;
  border:dashed var(--color02) 4px;
  margin: 44px;
}

div {
  background-color: var(--color01);
}

div img {
  width: 646px;
  padding: 44px;
  border:groove var(--color02) 14px;
  margin: 44px;
}